*.bak
*.xlsx
*.flock

ms/csi2_rx-master.cr.mti
ms/csi2_rx-master.mpf
ms/work/
ms/nppBackup
ms/vsim.wlf
ms/wlft1grjnv
ms/wlfts06sbq

output_files/nppBackup

py_source/__pycache__
py_source/neuralnetworksanddeeplearning
rtl_source/csi2_rx-master
rtl_source/nn/Baugh-Wooley_multiplier-master.zip
rtl_source/nppBackup
rtl_source/raw10toRGB/nppBackup
vivado_pr/nn_mnist.cache
vivado_pr/nn_mnist.hw
vivado_pr/nn_mnist.xpr
vivado_pr/nn_mnist.ip_user_files/ip
vivado_pr/nn_mnist.ip_user_files/ipstatic
vivado_pr/nn_mnist.ip_user_files/mem_init_files/summary.log
vivado_pr/nn_mnist.ip_user_files/sim_scripts
vivado_pr/nn_mnist.ip_user_files/README.txt
vivado_pr/nn_mnist.runs
vivado_pr/nn_mnist.sim

/vivado_pr/nn_mnist.srcs/sources_1/ip/**
!/vivado_pr/nn_mnist.srcs/sources_1/ip/**/

!vivado_pr/nn_mnist.srcs/sources_1/ip/nn_ram/sim/nn_ram.v
!vivado_pr/nn_mnist.srcs/sources_1/ip/nn_ram_0/sim/nn_ram_0.v
!vivado_pr/nn_mnist.srcs/sources_1/ip/nn_ram_1/sim/nn_ram_1.v
!vivado_pr/nn_mnist.srcs/sources_1/ip/nn_ram_2/sim/nn_ram_2.v
!vivado_pr/nn_mnist.srcs/sources_1/ip/nn_ram_3/sim/nn_ram_3.v
!vivado_pr/nn_mnist.srcs/sources_1/ip/ram/sim/ram.v
!vivado_pr/nn_mnist.srcs/sources_1/ip/ram_8b/sim/ram_8b.v
!vivado_pr/nn_mnist.srcs/sources_1/ip/ram_40b/sim/ram_40b.v
